// $primary:       #3699ff;
$secondary:       #025A58;
$primary:       #0081FF;
$primary2:       #3699ff;
$success:       #76BE4E;
$warning:       #ffc107;
$info:       #17a2b8;
$danger: #dc3545;


$blue:    #025A58 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #76BE4E !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


// $font-family-base: 'Lato', sans-serif;
$font-family-base:  'IBM Plex Sans', sans-serif;



$body-color: #5a5a5a;