.daterangepicker {
    -webkit-box-shadow: 0 0 15px 1px rgb(90 80 105 / 20%);
    box-shadow: 0 0 15px 1px rgb(90 80 105 / 20%);
    -webkit-user-select: text;
    border-color: transparent;
    .drp-calendar {
        &.left,
        &.right {
            @media(min-width: 992px) {
                padding: 18px 10px 18px 18px;
            }
        }
    }
    .calendar-table {
        th,td {
            font-size: 13px;
            font-family: $font-family-base;
            width: 38px!important;
            height: 34px!important;
        }
        td {
            &.active,
            &.active:hover {
                background-color: $secondary;
            }
        }
    } 
    .ranges {
        li {
            &.active {
                background-color: $secondary;
            }
        }
    }
    &.ltr {
        
        &.show-ranges {
            &.drp-calendar {
                &.left {
                    padding-left: 8px;
                }
            }
            &.show-calendar {
                &.opensright {
                    
                }
            }
        }
    }
    &.show-ranges {
        &.ltr {
            .drp-calendar {
                &.left {
                    padding-left: 8px;
                }
                &.right {
                    padding-left: 12px;
                }
            }
        }
    }
}
.daterangepicker.show-ranges.ltr .drp-calendar.left {
    // padding-left: 8px;
}
// daterangepicker ltr show-ranges show-calendar opensright