

.user-profile-card {
    text-align: center;

    .user-profile-img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin: 1rem auto 1.5rem;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
        display: block;
    }
    .profile-username {
        color: $secondary;
        margin-bottom: 0.25rem;
    }
    .qualification {
        color: #888;
    }
    .address {
        color: #555;
        width: 75%;
        margin: 1rem auto 1rem;
    }
}

.main-profile-wrap {
    .block-title {
        h3 {
            font-size: 20px;
            display: inline-block;
            border-bottom: 1px solid #eee;
            color: $secondary;
            margin-bottom: 0.75rem;
            padding-bottom: 0.25rem;
        }
    }

    .card-body {
        .nav-link {
            padding: 0.75rem 1rem;
        }
    }

    .right-side {
        table {
            tbody {
                tr {
                    &:first-child {
                        td {
                            border-top: 0;
                        }
                    }
                }
            }
        }

        .card-header {
            background-color: #ddd;
            border-top: 1px solid rgba(0,0,0,.075);
        }
        .card-address {
            border: 1px solid #eee;
            box-shadow: none;

            h3 {
                margin-bottom: 0;
            }
        }

        .user-profile-card {
            .btn {
                min-width: 145px;
                margin-top: 5px;

                img {
                    width: 20px;
                    margin-right: 5px;
                    margin-top: -4px;
                }

                &.btn-warning {
                    color: #fff;
                }

                .hydrated {
                    color: #fff;
                    font-size: 16px;;
                }
            }
        }
    }
}


// ---------------------
//  Edit-Profile
// ---------------------
.bs-stepper {
    &.custom {
        .step-trigger {
            font-weight: 500;

            .bs-stepper-label {
                font-size: 1.1rem;
            }
        }
        .active {
            .bs-stepper-circle {
                background-color: $success;
            }
            .bs-stepper-label {
                color: #333;
            }
        }
        .bs-stepper-content {
            padding: 1.5rem;
            border-radius: 4px;
        }

        .footer-btn-wrap {
            background-color: #eee;
            margin-left: -1.5rem;
            margin-right: -1.5rem;
            margin-bottom: -1.5rem;
            padding: 1rem 1.5rem;
            margin-top: 2rem;
            text-align: right
        }
    }
}

// .bs-stepper .step-trigger {
//     font-weight: 500 !important;
// }

// ---------------------
//  End Edit-Profile
// ---------------------



// ---------------------
//  Notice page
// ---------------------

.notice-board-wrap {
    .notice-search-form {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.075) ;
    }
    .notice-list {
        &.post {
            padding: 20px;
            margin-bottom: 0;
            border-bottom-color: #ededed;

            &.unread {
                background-color: lighten($success, 45%);
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    background-color: $secondary;
                    top: 0;
                    left: 0;
                    opacity: .5;
                }
            }
            .post-date {
                display: inline-block;
                font-size: 14px;
                color: #ffffff;
                padding: 5px 14px;
                border-radius: 20px;
                margin-bottom: 14px;
                background-color: #bbb;
            }

            .type-n-date {
                display: flex;
                justify-content: space-between;
            }

            .event,
            .notice {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: #ffffff;
                padding: 5px 14px;
                border-radius: 20px;
                margin-bottom: 14px;
                text-transform: uppercase;

                > img {
                    width: 16px;
                    margin-right: 5px;
                }
                span {
                   line-height: 1; 
                }
            }

            .event {
                background: #ffc107;
            }

            .notice {
                background: #40dfcd;
            }
        }
        // &:nth-child(odd) {
        //     .post-date {
        //         background: #40dfcd;
        //     }
        // }
        
        // &:nth-child(even) {
        //     .post-date {
        //         background: #fbd540;
        //     }
        // }

        .user-block {
            float: none;
            margin-bottom: 10px;
            .username,
            .description {
                margin-left: 0;
            }
            .username {
                font-weight: 500;
                margin-bottom: 10px;
                font-size: 20px;
                line-height: 1.3;
            }
        }
    }
}


input.cstm-size[type=radio]{
    transform:scale(1.5);
    margin-right: 0.5rem;
    margin-top: -4px;

    

    &+ label {
        font-size: 1.1rem;
    }
}

.main-notice-wrap {
    .left-side {
        .notice-board-wrap {
            .notice-list {
                .user-block {
                    margin-bottom: 0;
                }
            }
        }
    }
}

