.table {
    color: #212529;
    font-size: 0.8125rem;
    thead {
        th {
            font-size: 0.6875rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    td, th {
        padding: 0.5rem;
    }
}