


@media(max-width:1440px){
  .firsthr {
    width: 54.5rem;
    margin-left: -2.5rem;
}

.main-content-cards .card:first-child {
  margin-left: -3rem;
}
.main-content-cards .card {
  margin-left: 2rem;
}
.attendance-table .table-period-wise, td {
  width: 32px !important;
}
.notification-display .card {
  width: 59rem;
}
.notification-display .card .right-column-first {
  width: 57rem;
}
.complain-display .card {
  width: 59rem;
}
.notification-data-display .card {
  width: 59rem;
}
.solution-div {
  width: 228px;
  
}
.teacher-name{
  margin-left: 8rem !important;
}
.right-col-daily {
  margin-left: 0.5rem;
}
.main-content-cards .card .content-icons {
  
  padding: 0.4rem;
}
.main-content-cards {
 
  padding-right: 1rem;
}
.main-content-cards .current-page:after {
  content: "";
  position: absolute;
  margin-top: 4.5rem;
  width: 82px;
  height: 1.5px;
  border-bottom: 1px solid #76be4e;
  background: #76be4e;
  transform: scaleY(2);
  display: block;
}
}

@media(max-width:1024px){
  .main-card .cols-0 img {
    width: 10rem;
}
.quick-btns {
  
  margin-left: 0.5rem;
  
}
.quick-btns button {
  margin-top: 0.5rem;
}
  .firsthr {
    width: 35rem;
    margin-left: -2.5rem;
}
.main-content-cards {
  padding-right: 7px;
  padding-left: 7px;
}

.main-content-cards .card:first-child {
  margin-left: -4rem;
}
.main-content-cards .card {
  margin-left: .2rem;
  width: 5rem;
  padding: 0px;
}
.main-content-cards .card a{
  font-size: 10px;
}
.main-content-cards .card .content-icons {
  
  padding: 0.5rem;
}
.attendance-table .table-period-wise, td {
  width: 32px !important;
}
.notification-display .card {
  width: 38rem;
  margin-left: 4rem;
}
.notification-display .card .right-column-first {
  width: 38rem;
}
.complain-display .card {
  width: 38rem;
  margin-left: 4rem;
}
.notification-data-display .card {
  width: 64rem;
}
.right-column-first {
  width: 20rem;
 
}
.teacher-name{
  width: 10rem;
  margin-left: 2rem;
}
.solution-div {
  width: 174px;
  margin-left: -1.5rem;
}
.notice-teacher-name{
  margin-left: 5rem !important;
}
.white-part {
  width: 35rem;
  margin-top: 1rem;
}
.notification-data-display .card {
  width: 42rem;
}
.right-column-first {
  width: 24rem;
}
.main-content-cards .current-page:after {
  content: "";
  position: absolute;
  margin-top: 4.5rem;
  width: 80px;
  height: 1.5px;
  border-bottom: 1px solid #76be4e;
  background: #76be4e;
  transform: scaleY(2);
  display: block;
}
.right-col-daily {
  margin-left: 0.5rem;
}
.box-right-daily {
  width: 155px;
}
.right-span {
  margin-left: 3rem !important;
}
.right-span-leave {
  margin-left: 4rem !important;
}
.right-span-late {
  margin-left: 4.5rem !important;
}
.box-right {
  width: 180px;
}
.right-col {
  margin-left: 4rem;
}
.column-marks-4 .comparision-btns button {
 
  min-width: 104px;
  
}
.available-doc h3 {
  font-size: 12px;
  
}

}

@media(max-width:765px){
  .main-card .cols-0 img {
    width: 10rem;
}
.quick-btns {
  
  margin-left: 0.5rem;
  
}
.quick-btns button {
  margin-top: 0.5rem;
}
  .firsthr {
    display: none;
    width: 35rem;
    margin-left: -2.5rem;
}
.main-content-cards {
  padding-right: 7px;
  padding-left: 7px;
}

.main-content-cards .card:first-child {
  margin-left: -4rem;
}
.main-content-cards .card {
  margin-left: .2rem;
  width: 5rem;
  padding: 0px;
}
.main-content-cards .card a{
  font-size: 10px;
}
.main-content-cards .card .content-icons {
  
  padding: 0.5rem;
}
.attendance-table .table-period-wise, td {
  width: 32px !important;
}
.notification-display .card {
  width: 42rem;
}
.notification-display .card .right-column-first {
  width: 39rem;
}
.complain-display .card {
  width: 42rem;
}
.notification-data-display .card {
  width: 64rem;
}
.right-column-first {
  width: 20rem;
 
}
.teacher-name{
  width: 10rem;
}
.solution-div {
  width: 212px;
}
.notice-teacher-name{
  margin-left: 5rem !important;
}
.white-part {
  width: 39rem;
  margin-top: 1rem;
}
.notification-data-display .card {
  width: 42rem;
}
.right-column-first {
  width: 24rem;
}
.main-content-cards .current-page:after {
  content: "";
  position: absolute;
  margin-top: 4.5rem;
  width: 80px;
  height: 2px;
  border-bottom: 2px solid #76be4e;
  background: #76be4e;
  transform: scaleY(2);
  display: block;
}
.right-col-daily {
  margin-left: 0.5rem;
}
.box-right-daily {
  width: 155px;
}
.right-span {
  margin-left: 3rem !important;
}
.right-span-leave {
  margin-left: 4rem !important;
}
.right-span-late {
  margin-left: 4.5rem !important;
}
.box-right {
  width: 180px;
}
.right-col {
  margin-left: 4rem;
}
.column-marks-4 .comparision-btns button {
 
  min-width: 104px;
  
}
.available-doc h3 {
  font-size: 12px;
  
}

}


@media(max-width:425px){
  
.quick-btns {
  
  margin-left: 0.5rem;
  
}
.quick-btns button {
  margin-top: 0.5rem;
}
  .firsthr {
   
    width: 18rem !important;
    margin-left: -2.5rem;
}
.main-content-cards {
  padding-right: 7px;
  padding-left: 7px;
}

.main-content-cards .card:first-child {
  margin-left: -4rem;
}
.main-content-cards .card {
  margin-left: .2rem;
  width: 5rem;
  padding: 0px;
}
.main-content-cards .card a{
  font-size: 10px;
}
.main-content-cards .card .content-icons {
  
  padding: 0.5rem;
}
.attendance-table .table-period-wise, td {
  width: 32px !important;
}
.notification-display .card {
  width: 42rem;
}
.notification-display .card .right-column-first {
  width: 39rem;
}
.complain-display .card {
  width: 42rem;
}
.notification-data-display .card {
  width: 64rem;
}
.right-column-first {
  width: 20rem;
 
}
.teacher-name{
  width: 10rem;
}
.solution-div {
  width: 212px;
}
.notice-teacher-name{
  margin-left: 5rem !important;
}
.white-part {
  width: 39rem;
  margin-top: 1rem;
}
.notification-data-display .card {
  width: 42rem;
}
.right-column-first {
  width: 24rem;
}
.main-content-cards .current-page:after {
  content: "";
  position: absolute;
  margin-top: 4.5rem;
  width: 80px;
  height: 2px;
  border-bottom: 2px solid #76be4e;
  background: #76be4e;
  transform: scaleY(2);
  display: block;
}
.right-col-daily {
  margin-left: 0.5rem;
}
.box-right-daily {
  width: 155px;
}
.right-span {
  margin-left: 3rem !important;
}
.right-span-leave {
  margin-left: 4rem !important;
}
.right-span-late {
  margin-left: 4.5rem !important;
}
.box-right {
  width: 180px;
}
.right-col {
  margin-left: 4rem;
}
.column-marks-4 .comparision-btns button {
 
  min-width: 104px;
  
}
.available-doc h3 {
  font-size: 12px;
  
}


}

@media(min-width:574px) and (max-width:665px){
  .layout-navbar-fixed .wrapper .main-header {
    width: 100%;
  }
  .content-wrapper {
    width: 172% !important;
  }
  .cols-0 {
    border-right: none !important;
  }
  .cols-0 img {
    width: 8rem;
  }
  .col-0-text-weight {
    margin-right: 38rem;
  }
  .col-0-text-2 {
    /* margin-right: 25rem; */
    margin-right: 33rem;
    border: hidden;

    
  }
  .cols-1 {
    /* margin-left: -28rem; */
margin-left: -1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .cols-2 {
    margin-left: 1rem;
  }

  .cols-3 {
    margin-top: 0rem;
    margin-left: -1rem;
    padding-left: 0rem;
  }
  .firsthr {
    display: none;
  }
  .secondhr,
  .thirdhr {
    display: none;
  }
  .quick-btns {
    margin-bottom: 2rem;
    margin-left: 3.5rem;
  }
  .column-marks-2 {
    margin-left: 9rem;
    margin-top: -10rem;
  }
  .column-marks-3 {
    margin-left: 16rem;
    margin-top: -10rem;
  }
  .column-marks-4 {
    margin-left: 23rem;
    margin-top: -10rem;
  }
  .btn-view {
    width: 10rem;
  }
  .btns-group-2 {
    margin-left: -2.5rem;
  }
  .btns-group-2 button {
    font-size: 12px;
  }
  /* *****attendance ****** */
  .attendance-btns .active-sheet::after {
   
    width: 101px;
  }

  .saving-part {
    margin-left: 1.8rem;
  }
  .attend-hr {
    width: 43.5rem;
  }
  
  .saving-part p {
    margin-left: 1.5rem;
    font-size: 14px;
  }

  .attendance-btns a {
    margin-left: 1rem;
    font-size: 14px;
  }

  .right-col-daily {
    margin-left: 6.5rem;
    margin-top: 2rem;
  }
  .box-rows span {
    font-size: 12px;
  }
  /* .box-right-daily {
  width: 178px;
} */
  .box-right {
    width: 200px;
  }
  .right-span {
    margin-left: 5rem !important;
  }
  .right-span-leave,
  .right-span-late {
    margin-left: 6rem !important;
  }
  .attendance-table-daily table {
    margin-left: 0rem;
  }
  .period-wise .box-rows .col-lg-2 {
    padding-right: 0.4rem;
  }

  .right-col {
    margin-left: -1.5rem;
    margin-top: 2rem;
}
  .subjects{
    margin-left: -1rem;
  }
  .attendance-table .table-period-wise,
  td {
    width: 19.5px !important;
  }
  .attendance-table-daily td {
    height: 28px !important;
    font-size: 10px;
    border: 1px solid #eee;
  }
  .table-period-wise {
    margin-left: -37.5rem;
  }
  /* .dates span:first-child {
    margin-left: 0rem !important;
} */
  .dates span:nth-child(2) {
    margin-left: 2rem;
  }
  .dates span {
    /* margin-left: 1.5rem; */
    margin-left: 0.5rem;
    font-size: 9px;
  }
  .date-data {
    width: 75px !important;
  }

  .leave-wise-table td {
    font-size: 12px;
  }
  .first-table i {
    margin-left: 0rem;
  }
  .leave-date-row .from-date {
    margin-left: 0rem !important;
    /* border-right: 5px solid #f5f2f2; */
}
  .leave-date-row .to-date {
    margin-left: -1rem !important;
    /* border-right: 5px solid #f5f2f2; */
}
  /**** remarks*** */
  .remarks-top form label {
    font-size: 12px;
    font-weight: bold;
  }
  .from-date {
    margin-top: 4.5rem;
    margin-left: -11.5rem;
  }
  .to-date {
    margin-top: 4.5rem;
    margin-left: 1rem;
  }
  .remark-teacher-name {
    margin-left: 10rem !important;
  }
  .remarks-saving-part {
    margin-left: -5rem;
  }

  .remarks-saving-part p {
    font-size: 14px;
  }
  .notification-display .card {
    padding: 1.5rem;
    width: 37rem;
    margin-left: 11rem;
    margin-top: -4rem;
}
.notification-display .card .right-column-first {
  width: 35rem;
}

  /* ***complain -section*** */

  .complain-display .card {
    width: 36.5rem;
    margin-left: 11rem;
    margin-top: -4.5rem;
  }
  .complain-display .card p {
    font-size: 10px;
  }
  .search-complain input {
    width: 10rem;
  }
  .solution-div {
    width: 165px;
    height: 125px;
  }
  .complain-column {
    padding-right: 2rem !important;
  }
  .teacher-name {
    margin-left: 4rem !important;
  }
  .left-column {
    padding-left: 1.5rem;
  }
  .white-part {
    width: 20rem;
  }
  .complain-column span {
    margin-left: 12rem !important;
  }
  /* ***Notification-section***** */
  .search-notification input {
    width: 10rem;
  }
  .notification-data-display .card {
    width: 37rem;
    
    margin-left: 11rem;
    margin-top: -5rem;
  }
  .notification-data-display .card h3 {
    font-size: 14px;
  }
  .notification-data-display .card p {
    font-size: 10px;
  }
  .notification-data-display .right-column-second {
    padding-left: 0rem;
  }
  .right-column-second {
    padding-left: 0rem;
  }
  .notice-teacher-name {
    margin-left: 11rem !important;
  }
  .notice-img {
    margin-left: -14rem;
  }
  .right-column-first {
    padding-right: 14rem;
    border-right: hidden;
  }
  /* ***assignment-section**** */
  .search-assignment input {
    width: 10rem;
  }
  .assignment-saving-part {
    margin-left: -17rem;
  }
  .not-submited-saving-part {
    margin-left: -5rem;
  }
  .not-submited-table i {
    margin-left: 1rem;
  }
  .assign-first-data {
    font-size: 12px;
  }
  .select-forms .select-sub {
    width: 10.5rem;
}
  /* *****exam-section******* */
  .summery .exam-btns {
    margin-left: 9.5rem;
  }
  .exam-saving-part {
    margin-left: 4.5rem;
  }
  .exam-table td {
    font-size: 12px;
    padding-top: 0.8rem !important;
  }

  .result-evaluation .exam-btns {
    margin-left: 5.5rem;
  }
  .result-evaluation-graph canvas {
    width: 700px !important;
    height: 350px !important;
  }
  .subject-evaluation-graph canvas {
    width: 700px !important;
    height: 350px !important;
  }
  .btns-group-subject {
    width: 49.7rem;
    margin-top: 1rem;
  }

  .column-marks-4 .comparision-btns button {
    
    width: 141px;
    
}

  /* *****fee section****** */
  .fee-saving-part{
    margin-left: -1.5rem;
  }
  .fee-first-row-data td {
    padding-top: 0.7rem !important;
    text-align: center;
    font-size: 12px;
  }
  .fee-first-row-data td i {
    margin-left: 1rem !important;
  }
  .second-row button {
    margin-left: 0rem;
    font-size: 8px;
  }
  .ledger-row span {
    font-size: 8px;
  }

  /* ******document-section*** */
  .available-doc h3 {
    font-size: 14px;
  }
  .document-saving-part {
    margin-left: 0.3rem;
    margin-top: 1.7rem;
  }
  .document-saving-part p{
    font-size: 12px;
  }
  .paper-1,
  .paper-2 {
    width: 310px;
    height: 320px;
  }
  .document-papers span {
    margin-left: 10rem;
  }
}



@media(min-width:480px) and (max-width:575px){
  .layout-navbar-fixed .wrapper .main-header {
    width: 100%;
  }
  .content-wrapper {
    width: 172% !important;
  }
  .cols-0 {
    border-right: none !important;
  }
  .cols-0 img {
    width: 8rem;
  }
  .col-0-text-weight {
    margin-right: 37rem;
  }
  .col-0-text-2 {
    /* margin-right: 25rem; */
    margin-right: 34rem;
    border: hidden;

    
  }
  .cols-1 {
    margin-left: 1rem;

    padding-left: 0rem;
    padding-right: 0rem;
  }
  .cols-2 {
    margin-left: 2rem;
  }

  .cols-3 {
    margin-top: 0rem;
    /* margin-left: 5rem; */
    margin-left: 2rem;
    padding-left: 0rem;
  }
  .firsthr {
    display: none;
  }
  .secondhr,
  .thirdhr {
    display: none;
  }
  .quick-btns {
    margin-bottom: 2rem;
    margin-left: 3.5rem;
  }
  .column-marks-2 {
    margin-left: 9rem;
    margin-top: -10rem;
  }
  .column-marks-3 {
    margin-left: 16rem;
    margin-top: -10rem;
  }
  .column-marks-4 {
    margin-left: 23rem;
    margin-top: -10rem;
  }
  .btn-view {
    width: 10rem;
  }
  .btns-group-2 {
    margin-left: -2.5rem;
  }
  .btns-group-2 button {
    font-size: 12px;
  }
  /* *****attendance ****** */
  .attendance-btns .active-sheet::after {
   
    width: 101px;
  }

  .saving-part {
    margin-left: 7.8rem;
  }
  .attend-hr {
    width: 43.5rem;
  }
  
  .saving-part p {
    margin-left: 1.5rem;
    font-size: 14px;
  }

  .attendance-btns a {
    margin-left: 1rem;
    font-size: 14px;
  }

  .right-col-daily {
    margin-left: 6.5rem;
    margin-top: 2rem;
  }
  .box-rows span {
    font-size: 12px;
  }
  /* .box-right-daily {
  width: 178px;
} */
  .box-right {
    width: 200px;
  }
  .right-span {
    margin-left: 5rem !important;
  }
  .right-span-leave,
  .right-span-late {
    margin-left: 6rem !important;
  }
  .attendance-table-daily table {
    margin-left: 0rem;
  }
  .period-wise .box-rows .col-lg-2 {
    padding-right: 0.4rem;
  }

  .right-col {
    margin-left: -1.5rem;
    margin-top: 2rem;
}
  .subjects{
    margin-left: -1rem;
  }
  .attendance-table .table-period-wise,
  td {
    width: 19.5px !important;
  }
  .attendance-table-daily td {
    height: 28px !important;
    font-size: 10px;
    border: 1px solid #eee;
  }
  .table-period-wise {
    margin-left: -37.5rem;
  }
  /* .dates span:first-child {
    margin-left: 0rem !important;
} */
  .dates span:nth-child(2) {
    margin-left: 2rem;
  }
  .dates span {
    /* margin-left: 1.5rem; */
    margin-left: 0.5rem;
    font-size: 9px;
  }
  .date-data {
    width: 75px !important;
  }

  .leave-wise-table td {
    font-size: 12px;
  }
  .first-table i {
    margin-left: 0rem;
  }
  .leave-date-row .from-date {
    margin-left: 0rem !important;
    /* border-right: 5px solid #f5f2f2; */
}
  .leave-date-row .to-date {
    margin-left: -1rem !important;
    /* border-right: 5px solid #f5f2f2; */
}
  /**** remarks*** */
  .remarks-top form label {
    font-size: 12px;
    font-weight: bold;
  }
  .from-date {
    margin-top: 4.5rem;
    margin-left: -11.5rem;
  }
  .to-date {
    margin-top: 4.5rem;
    margin-left: 1rem;
  }
  .remark-teacher-name {
    margin-left: 10rem !important;
  }
  .remarks-saving-part {
    margin-left: 0rem;
  }

  .remarks-saving-part p {
    font-size: 14px;
  }
  .notification-display .card {
    padding: 1.5rem;
    width: 42rem;
    margin-left: 11rem;
    margin-top: -4rem;
}
.notification-display .card .right-column-first {
  width: 35rem;
}

  /* ***complain -section*** */

  .complain-display .card {
    width: 42.5rem;
    margin-left: 11rem;
    margin-top: -4.5rem;
  }
  .complain-display .card p {
    font-size: 10px;
  }
  .search-complain input {
    width: 10rem;
  }
  .solution-div {
    width: 165px;
    height: 125px;
  }
  .complain-column {
    padding-right: 2rem !important;
  }
  .teacher-name {
    margin-left: 4rem !important;
  }
  .left-column {
    padding-left: 1.5rem;
  }
  .white-part {
    width: 20rem;
  }
  .complain-column span {
    margin-left: 12rem !important;
  }
  /* ***Notification-section***** */
  .search-notification input {
    width: 10rem;
  }
  .notification-data-display .card {
    width: 37rem;
    
    margin-left: 11rem;
    margin-top: -5rem;
  }
  .notification-data-display .card h3 {
    font-size: 14px;
  }
  .notification-data-display .card p {
    font-size: 10px;
  }
  .notification-data-display .right-column-second {
    padding-left: 0rem;
  }
  .right-column-second {
    padding-left: 0rem;
  }
  .notice-teacher-name {
    margin-left: 11rem !important;
  }
  .notice-img {
    margin-left: -14rem;
  }
  .right-column-first {
    padding-right: 14rem;
    border-right: hidden;
  }
  /* ***assignment-section**** */
  .search-assignment input {
    width: 10rem;
  }
  .assignment-saving-part {
    margin-left: -17rem;
  }
  .not-submited-saving-part {
    margin-left: -5rem;
  }
  .not-submited-table i {
    margin-left: 1rem;
  }
  .assign-first-data {
    font-size: 12px;
  }
  .select-forms .select-sub {
    width: 10.5rem;
}
  /* *****exam-section******* */
  .summery .exam-btns {
    margin-left: 9.5rem;
  }
  .exam-saving-part {
    margin-left: 4.5rem;
  }
  .exam-table td {
    font-size: 12px;
    padding-top: 0.8rem !important;
  }

  .result-evaluation .exam-btns {
    margin-left: 5.5rem;
  }
  .result-evaluation-graph canvas {
    width: 700px !important;
    height: 350px !important;
  }
  .subject-evaluation-graph canvas {
    width: 700px !important;
    height: 350px !important;
  }
  .btns-group-subject {
    width: 49.7rem;
    margin-top: 1rem;
  }

  .column-marks-4 .comparision-btns button {
    
    width: 141px;
    
}

  /* *****fee section****** */
  .fee-saving-part{
    margin-left: -1.5rem;
  }
  .fee-first-row-data td {
    padding-top: 0.7rem !important;
    text-align: center;
    font-size: 12px;
  }
  .fee-first-row-data td i {
    margin-left: 1rem !important;
  }
  .second-row button {
    margin-left: 0rem;
    font-size: 8px;
  }
  .ledger-row span {
    font-size: 8px;
  }

  /* ******document-section*** */
  .available-doc h3 {
    font-size: 14px;
  }
  .document-saving-part {
    margin-left: 0.3rem;
    margin-top: 1.7rem;
  }
  .document-saving-part p{
    font-size: 12px;
  }
  .paper-1,
  .paper-2 {
    width: 310px;
    height: 320px;
  }
  .document-papers span {
    margin-left: 10rem;
  }
  .exam-top h3 {
    width: 18rem;
    
  }
}

@media (max-width: 481px) {
  .layout-navbar-fixed .wrapper .main-header {
    width: 100%;
  }
  .content-wrapper {
    width: 172% !important;
  }
  .cols-0 {
    border-right: none !important;
  }
  .cols-0 img {
    width: 8rem;
  }
  .col-0-text-weight {
    margin-right: 34rem;
  }
  .col-0-text-2 {
    /* margin-right: 25rem; */
    margin-right: 29rem;
    border: hidden;

    
  }
  .cols-1 {
    margin-left: 1rem;
margin-top: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .cols-2 {
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .cols-3 {
    margin-top: 1rem;
    margin-left: 2rem;
    padding-left: 0rem;
  }
  .firsthr {
    display: none;
  }
  .secondhr,
  .thirdhr {
    display: none;
  }
  .quick-btns {
    margin-bottom: 2rem;
    margin-left: 3.5rem;
  }
  .column-marks-2 {
    margin-left: 9rem;
    margin-top: -10rem;
  }
  .column-marks-3 {
    margin-left: 16rem;
    margin-top: -10rem;
  }
  .column-marks-4 {
    margin-left: 23rem;
    margin-top: -10rem;
  }
  .btn-view {
    width: 10rem;
  }
  .btns-group-2 {
    margin-left: -2.5rem;
  }
  .btns-group-2 button {
    font-size: 12px;
  }
  /* *****attendance ****** */
  .attendance-btns .active-sheet::after {
   
    width: 101px;
  }

  .saving-part {
    margin-left: 1.8rem;
  }
  .attend-hr {
    width: 43.5rem;
  }
  
  .saving-part p {
    margin-left: 1.5rem;
    font-size: 14px;
  }

  .attendance-btns a {
    margin-left: 1rem;
    font-size: 14px;
  }

  .right-col-daily {
    margin-left: 6.5rem;
    margin-top: 2rem;
  }
  .box-rows span {
    font-size: 12px;
  }
  /* .box-right-daily {
  width: 178px;
} */
  .box-right {
    width: 200px;
  }
  .right-span {
    margin-left: 5rem !important;
  }
  .right-span-leave,
  .right-span-late {
    margin-left: 6rem !important;
  }
  .attendance-table-daily table {
    margin-left: 0rem;
  }
  .period-wise .box-rows .col-lg-2 {
    padding-right: 0.4rem;
  }

  .right-col {
    margin-left: -1.5rem;
    margin-top: 2rem;
}
  .subjects{
    margin-left: -1rem;
  }
  .attendance-table .table-period-wise,
  td {
    width: 19.5px !important;
  }
  .attendance-table-daily td {
    height: 28px !important;
    font-size: 10px;
    border: 1px solid #eee;
  }
  .table-period-wise {
    margin-left: -37.5rem;
  }
  /* .dates span:first-child {
    margin-left: 0rem !important;
} */
  .dates span:nth-child(2) {
    margin-left: 2rem;
  }
  .dates span {
    /* margin-left: 1.5rem; */
    margin-left: 0.5rem;
    font-size: 9px;
  }
  .date-data {
    width: 75px !important;
  }

  .leave-wise-table td {
    font-size: 12px;
  }
  .first-table i {
    margin-left: 0rem;
  }
  .leave-date-row .from-date {
    margin-left: 0rem !important;
    /* border-right: 5px solid #f5f2f2; */
}
  .leave-date-row .to-date {
    margin-left: -1rem !important;
    /* border-right: 5px solid #f5f2f2; */
}
  /**** remarks*** */
  .remarks-top form label {
    font-size: 12px;
    font-weight: bold;
  }
  .from-date {
    margin-top: 4.5rem;
    margin-left: -11.5rem;
  }
  .to-date {
    margin-top: 4.5rem;
    margin-left: 1rem;
  }
  .remark-teacher-name {
    margin-left: 10rem !important;
  }
  .remarks-saving-part {
    /* margin-left: -5rem; */
    margin-left: 0rem !important;
  }

  .remarks-saving-part p {
    font-size: 14px;
  }
  .notification-display .card {
    padding: 1.5rem;
    width: 37rem;
    margin-left: 11rem;
    margin-top: -4rem;
}
.notification-display .card .right-column-first {
  width: 35rem;
}

  /* ***complain -section*** */

  .complain-display .card {
    width: 36.5rem;
    margin-left: 11rem;
    margin-top: -4.5rem;
  }
  .complain-display .card p {
    font-size: 10px;
  }
  .search-complain input {
    width: 10rem;
  }
  .solution-div {
    width: 165px;
    height: 125px;
  }
  .complain-column {
    padding-right: 2rem !important;
  }
  .teacher-name {
    margin-left: 4rem !important;
  }
  .left-column {
    padding-left: 1.5rem;
  }
  .white-part {
    width: 20rem;
  }
  .complain-column span {
    margin-left: 12rem !important;
  }
  /* ***Notification-section***** */
  .search-notification input {
    width: 10rem;
  }
  .notification-data-display .card {
    width: 37rem;
    
    margin-left: 11rem;
    margin-top: -5rem;
  }
  .notification-data-display .card h3 {
    font-size: 14px;
  }
  .notification-data-display .card p {
    font-size: 10px;
  }
  .notification-data-display .right-column-second {
    padding-left: 0rem;
  }
  .right-column-second {
    padding-left: 0rem;
  }
  .notice-teacher-name {
    margin-left: 11rem !important;
  }
  .notice-img {
    /* margin-left: -14rem; */
    margin-left: -7rem;
  }
  .right-column-first {
    /* padding-right: 14rem; */
    padding-right: 8rem;
    border-right: hidden;
  }
  /* ***assignment-section**** */
  .search-assignment input {
    width: 10rem;
  }
  .assignment-saving-part {
    margin-left: -17rem;
  }
  .not-submited-saving-part {
    margin-left: -5rem;
  }
  .not-submited-table i {
    margin-left: 1rem;
  }
  .assign-first-data {
    font-size: 12px;
  }
  .select-forms .select-sub {
    width: 10.5rem;
}
  /* *****exam-section******* */
  .summery .exam-btns {
    margin-left: 9.5rem;
  }
  .exam-saving-part {
    margin-left: 4.5rem;
  }
  .exam-table td {
    font-size: 12px;
    padding-top: 0.8rem !important;
  }

  .result-evaluation .exam-btns {
    margin-left: 5.5rem;
  }
  .result-evaluation-graph canvas {
    width: 700px !important;
    height: 350px !important;
  }
  .subject-evaluation-graph canvas {
    width: 700px !important;
    height: 350px !important;
  }
  .btns-group-subject {
    width: 49.7rem;
    margin-top: 1rem;
  }

  .column-marks-4 .comparision-btns button {
    
    width: 141px;
    
}
.exam-top h3 {
  width: 18rem;
  
}
.available-doc {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  width: 100rem;
}

  /* *****fee section****** */
  .fee-saving-part{
    /* margin-left: -1.5rem; */
    margin-left: 5.5rem !important;
  }
  .fee-first-row-data td {
    padding-top: 0.7rem !important;
    text-align: center;
    font-size: 12px;
  }
  .fee-first-row-data td i {
    margin-left: 1rem !important;
  }
  .second-row button {
    margin-left: 0rem;
    font-size: 8px;
  }
  .ledger-row span {
    font-size: 8px;
  }

  /* ******document-section*** */
  .available-doc h3 {
    font-size: 14px;
  }
  .document-saving-part {
    margin-left: 0.3rem;
    margin-top: 1.7rem;
  }
  .document-saving-part p{
    font-size: 12px;
  }
  .paper-1,
  .paper-2 {
    width: 310px;
    height: 320px;
  }
  .document-papers span {
    margin-left: 10rem;
  }
}
@media(min-width:389px) and (max-width:424px){
  .col-1 {
    margin-left: -21rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .cols-0 img {
    width: 6rem !important;
  }
  .col-0-text-weight {
    margin-right: 23rem;
}
  .cols-2 {
    margin-left: 3rem;
  }

  .cols-3 {
    margin-top: 0rem;
    margin-left: 4rem !important;
    padding-left: 0rem;
  }
  .quick-btns {
    margin-bottom: 2rem;
    margin-left: 5rem;
  }
  .quick-btns button {
    width: 9.5rem;
    height: 2rem;
    margin-top: 0.5rem;
  }
  .main-content-cards a {
    
    font-size: 10px;
  
}
  .ledger-area .ledger-content .ledger-heading-content .title {
    margin-left: 19rem;
  }
  .modal-content form {
    width: 90% !important;
}
.close {
    margin-left: 24rem !important;
}
  /* *****attendance ****** */
  .saving-part {
    margin-left: 1rem;
  }
  .attend-hr {
    width: 38rem;
  }
  
  .saving-part p {
    margin-left: .5rem;
    font-size: 10px;
  }

  .attendance-btns a {
    margin-left: 1rem;
    font-size: 14px;
  }

  .right-col-daily {
    margin-left: 3.5rem;
    margin-top: 2rem;
  }
  .box-rows span {
    font-size: 12px;
  }
  /* .box-right-daily {
  width: 178px;
} */
  .box-right {
    width: 200px;
  }
  .right-span {
    margin-left: 5rem !important;
  }
  .right-span-leave,
  .right-span-late {
    margin-left: 6rem !important;
  }
  .attendance-table-daily table {
    margin-left: 0rem;
  }
  .period-wise .box-rows .col-lg-2 {
    padding-right: 0.4rem;
  }

  .right-col {
    margin-left: -1.5rem;
    margin-top: 2rem;
}
  .subjects{
    margin-left: -1rem;
  }
  .attendance-table .table-period-wise,
  td {
    width: 17.5px !important;
  }
  .attendance-table-daily td {
    height: 28px !important;
    font-size: 10px;
    border: 1px solid #eee;
  }
  .table-period-wise {
    margin-left: -37.5rem;
  }
  /* .dates span:first-child {
    margin-left: 0rem !important;
} */
  .dates span:nth-child(2) {
    margin-left: 2rem;
  }
  .dates span {
    /* margin-left: 1.5rem; */
    margin-left: 0.5rem;
    font-size: 9px;
  }
  .date-data {
    width: 75px !important;
  }

  .leave-wise-table td {
    font-size: 12px;
  }
  .first-table i {
    margin-left: 0rem;
  }

  /**** remarks*** */
  .remarks-top form label {
    font-size: 12px;
    font-weight: bold;
  }
  .from-date {
    margin-top: 4.5rem;
    margin-left: -11.5rem;
  }
  .to-date {
    margin-top: 4.5rem;
    margin-left: 1rem;
  }
  .remark-teacher-name {
    margin-left: 10rem !important;
  }
  .remarks-saving-part {
    margin-left: -10.5rem;
  }

  .remarks-saving-part p {
    font-size: 14px;
  }
  .notification-display .card {
  
    width: 31rem;
    
}
.notification-display .card .right-column-first {
  width: 28rem;
}
  /* ***complain -section*** */

  .complain-display .card {
    width: 31rem;
    margin-left: 11rem;
    margin-top: -4.5rem;
  }
  .complain-display .card p {
    font-size: 10px;
  }
  .search-complain input {
    width: 10rem;
  }
  .solution-div {
    width: 95px;
    height: 125px;
    font-size: 8px;
  }
  .complain-column {
    padding-right: 2rem !important;
  }
  .teacher-name {
    margin-left: -1rem !important;
  }
  .left-column {
    padding-left: 1.5rem;
  }
  .white-part {
    width: 20rem;
  }
  .complain-column span {
    margin-left: 12rem !important;
  }
  /* ***Notification-section***** */
  .search-notification input {
    width: 10rem;
  }
  .notification-data-display .card {
    width: 31.5rem;
    
    margin-left: 11rem;
    margin-top: -5rem;
  }
  .notification-data-display .card h3 {
    font-size: 14px;
  }
  .notification-data-display .card p {
    font-size: 10px;
  }
  .notification-data-display .right-column-second {
    padding-left: 0rem;
  }
  .right-column-second {
    padding-left: 0rem;
  }
  .notice-teacher-name {
    margin-left: 5rem !important;
  }
  .notice-img {
    margin-left: -13.5rem;
  }
  .right-column-first {
    padding-right: 14rem;
    border-right: hidden;
  }
  /* ***assignment-section**** */
  .search-assignment input {
    width: 10rem;
  }
  .assignment-saving-part {
    margin-left: -21rem;
  }
  .not-submited-saving-part {
    /* margin-left: -9rem; */
    margin-left: -16rem;
  }
  .not-submited-table i {
    margin-left: 1rem;
  }
  .assign-first-data {
    font-size: 12px;
  }
  .select-forms .select-sub {
    width: 10.5rem !important;
}
  /* *****exam-section******* */
  .exam-top h3 {

    font-size: 16px;
}
  .summery .exam-btns {
    margin-left: 2.5rem;
  }
  .exam-saving-part {
    margin-left: -1rem;
  }
  .exam-table td {
    font-size: 12px;
    padding-top: 0.8rem !important;
  }
  .result-evaluation h3 {
    font-size: 16px;
    
}
  .result-evaluation .exam-btns {
    margin-left:-0.5rem;
   
  }
  .exam-btns a{
    font-size: 16px;
  }
  .btns-group-test button {
    
    font-size: 16px;
    margin-left: .5rem;
    
}
  .result-evaluation-graph canvas {
    width: 580px !important;
    height: 350px !important;
  }
  .subject-evaluation-graph canvas {
    width: 580px !important;
    height: 350px !important;
  }
  .btns-group-subject {
    width: 37rem;
    margin-top: 1rem;
  }

  .column-marks-4 .comparision-btns button {
    
    width: 141px;
    
}

  /* *****fee section****** */
  .fee-saving-part{
    margin-left: -1.5rem;
  }
  .fee-first-row-data td {
    padding-top: 0.7rem !important;
    text-align: center;
    font-size: 12px;
  }
  .fee-first-row-data td i {
    margin-left: 1rem !important;
  }
  .second-row button {
    margin-left: 0rem;
    font-size: 8px;
  }
  .ledger-row span {
    font-size: 8px;
    margin-left: 1.5rem !important;
  }

  /* ******document-section*** */
  .available-doc {
    
    margin-left: -0.5rem;
}
  .available-doc h3 {
    font-size: 12px;
  }
  
  .document-saving-part {
    margin-left: 0.5rem;
  }
  .document-saving-part p{
    font-size: 10px;
    margin-left: .5rem;
  }
  .paper-1,
  .paper-2 {
    width: 255px;
    height: 245px;
  }
  .document-papers span {
    margin-left: 7.5rem;
  }
  .available-doc {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    width: 100rem;
}

}
/* @media(min-width:321px) */

@media (min-width: 321px) and (max-width: 425px) {
  #export-modal .modal-content, #export-modal-remarks .modal-content, #export-modal-complain .modal-content, #export-modal-notification .modal-content, #export-modal-assignment .modal-content, #export-modal-exam .modal-content, #export-modal-fee .modal-content, #export-modal-document .modal-content {
    display: block;
    width: 275px !important;
    height: 103px;
    position: absolute;
    top: 400px;
    left: 219px !important;
    padding: 0;
}
  .col-1 {
    margin-left: -21rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .cols-0 img {
    width: 6rem !important;
  }
  .col-0-text-weight {
    margin-right: 30rem;
}
.cols-1 {
  margin-left: 1rem;
  
}
  .cols-2 {
    margin-left: 0rem;
  }

  .cols-3 {
    margin-top: 1rem;
    margin-left: 0rem;
    padding-left: 0rem;
  }
  .quick-btns {
    margin-bottom: 2rem;
    margin-left: 5rem;
  }
  .quick-btns button {
    width: 9.5rem;
    height: 2rem;
    margin-top: 0.5rem;
  }
  .main-content-cards a {
    
    font-size: 10px;
  
}
  .ledger-area .ledger-content .ledger-heading-content .title {
    margin-left: 19rem;
  }
  .modal-content form {
    width: 100% !important;
}
.close {
    margin-left: 24rem !important;
}


  /* *****attendance ****** */
  .saving-part {
    margin-left: 1rem;
  }
  .attend-hr {
    width: 38rem;
  }
  
  .saving-part p {
    margin-left: .5rem;
    font-size: 10px;
  }

  .attendance-btns a {
    margin-left: 1rem;
    font-size: 14px;
  }

  .right-col-daily {
    margin-left: 3.5rem;
    margin-top: 2rem;
  }
  .box-rows span {
    font-size: 12px;
  }
  /* .box-right-daily {
  width: 178px;
} */
  .box-right {
    width: 200px;
  }
  .right-span {
    margin-left: 5rem !important;
  }
  .right-span-leave,
  .right-span-late {
    margin-left: 6rem !important;
  }
  .attendance-table-daily table {
    margin-left: 0rem;
  }
  .period-wise .box-rows .col-lg-2 {
    padding-right: 0.4rem;
  }

  .right-col {
    margin-left: -1.5rem;
    margin-top: 2rem;
}
  .subjects{
    margin-left: -1rem;
  }
  .attendance-table .table-period-wise,
  td {
    width: 16.5px !important;
  }
  .attendance-table-daily td {
    height: 28px !important;
    font-size: 10px;
    border: 1px solid #eee;
  }
  .table-period-wise {
    margin-left: -31.5rem !important;
  }
  /* .dates span:first-child {
    margin-left: 0rem !important;
} */
  .dates span:nth-child(2) {
    margin-left: 2rem;
  }
  .dates span {
    /* margin-left: 1.5rem; */
    margin-left: 0.3rem;
    font-size: 9px;
  }
  .date-data {
    width: 75px !important;
  }

  .leave-wise-table td {
    font-size: 12px;
  }
  .first-table i {
    margin-left: 0rem;
  }

  /**** remarks*** */
  .remarks-top form label {
    font-size: 12px;
    font-weight: bold;
  }
  .from-date {
    margin-top: 4.5rem;
    margin-left: -11.5rem;
  }
  .to-date {
    margin-top: 4.5rem;
    margin-left: 1rem;
  }
  .remark-teacher-name {
    margin-left: 10rem !important;
  }
  .remarks-saving-part {
    /* margin-left: -10.5rem; */
    margin-left: -5.5rem !important;
  }

  .remarks-saving-part p {
    font-size: 14px;
  }
  .notification-display .card {
  
    width: 31rem;
    
}
.notification-display .card .right-column-first {
  width: 28rem;
}
  /* ***complain -section*** */

  .complain-display .card {
    width: 31rem;
    margin-left: 11rem;
    margin-top: -4.5rem;
  }
  .complain-display .card p {
    font-size: 10px;
  }
  .search-complain input {
    width: 10rem;
  }
  .solution-div {
    width: 100%;
    height: 125px;
    font-size: 8px;
  }
  .complain-column {
    padding-right: 2rem !important;
  }
  .teacher-name {
    margin-left: -1rem !important;
  }
  .left-column {
    padding-left: 1.5rem;
  }
  .white-part {
    width: 20rem;
  }
  .complain-column span {
    margin-left: 12rem !important;
  }
  /* ***Notification-section***** */
  .search-notification input {
    width: 10rem;
  }
  .notification-data-display .card {
    width: 31.5rem;
    
    margin-left: 11rem;
    margin-top: -5rem;
  }
  .notification-data-display .card h3 {
    font-size: 14px;
  }
  .notification-data-display .card p {
    font-size: 10px;
  }
  .notification-data-display .right-column-second {
    padding-left: 0rem;
  }
  .complain-display .right-column-first {
    width: 70%;
}
  .right-column-second {
    padding-left: 0rem;
  }
  .notice-teacher-name {
    margin-left: 5rem !important;
  }
  .notice-img {
    /* margin-left: -13.5rem; */
    margin-left: -8.5rem;
  }
  .right-column-first {
    /* padding-right: 14rem; */
    padding-right: 9rem;
    border-right: hidden;
  }
  /* ***assignment-section**** */
  .search-assignment input {
    width: 10rem;
  }
  .assignment-saving-part {
    margin-left: -21rem;
  }
  .not-submited-saving-part {
    /* margin-left: -9rem; */
    margin-left: -16rem;
  }
  .not-submited-table i {
    margin-left: 1rem;
  }
  .assign-first-data {
    font-size: 12px;
  }
  .select-forms .select-sub {
    width: 10.5rem !important;
}
  /* *****exam-section******* */
  .exam-top h3 {

    font-size: 16px;
}
  .summery .exam-btns {
    margin-left: 2.5rem;
  }
  .exam-saving-part {
    /* margin-left: -1rem; */
    margin-left: 6rem !important;
  }
  .exam-table td {
    font-size: 12px;
    padding-top: 0.8rem !important;
  }
  .result-evaluation h3 {
    font-size: 16px;
    
}
  .result-evaluation .exam-btns {
    margin-left:-0.5rem;
   
  }
  .exam-btns a{
    font-size: 16px;
  }
  .btns-group-test button {
    
    font-size: 16px;
    margin-left: .5rem;
    
}
  .result-evaluation-graph canvas {
    width: 580px !important;
    height: 350px !important;
  }
  .subject-evaluation-graph canvas {
    width: 580px !important;
    height: 350px !important;
  }
  .btns-group-subject {
    width: 37rem;
    margin-top: 1rem;
  }

  .column-marks-4 .comparision-btns button {
    
    width: 141px;
    
}

  /* *****fee section****** */
  .fee-saving-part{
    margin-left: 1rem !important;
  }
  .fee-first-row-data td {
    padding-top: 0.7rem !important;
    text-align: center;
    font-size: 12px;
  }
  .fee-first-row-data td i {
    margin-left: 1rem !important;
  }
  .second-row button {
    margin-left: 0rem;
    font-size: 8px;
  }
  .ledger-row span {
    font-size: 8px;
    margin-left: 1.5rem !important;
  }

  /* ******document-section*** */
  .available-doc {
    
    margin-left: -0.5rem;
}
  .available-doc h3 {
    font-size: 12px;
  }
  
  .document-saving-part {
    margin-left: 1rem !important;
  }
  .document-saving-part p{
    font-size: 10px;
    margin-left: .5rem;
  }
  .paper-1,
  .paper-2 {
    width: 255px;
    height: 245px;
  }
  .document-papers span {
    margin-left: 7.5rem;
  }
}

@media(min-width:321px) and (max-width:365px){
  .content-wrapper {
    width: 193% !important;
  }
  .cols-1 {
    margin-left: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .cols-0 img {
    width: 9rem !important;
  }
  .col-0-text-weight {
    margin-right: 25rem;
}

  .cols-2 {
    margin-left: 1rem;
  }

  .cols-3 {
    margin-top: 1rem;
    margin-left: 1rem;
    padding-left: 0rem;
  }
  .quick-btns {
    margin-bottom: 2rem;
    margin-left: 4rem;
  }
  .quick-btns button {
    width: 9.5rem;
    height: 2rem;
    margin-top: 0.5rem;
  }
  .ledger-area .ledger-content .ledger-heading-content .title {
    margin-left: 17rem;
  }

  .modal-content form {
    width: 100% !important;
}
.close {
  margin-left: 23rem !important;
}

.modal-content form input[type='text'] , .modal-content form input[type='date'] , .modal-content form textarea , .modal-content form input[type='file'] {
/* width: 24rem; */
width: 25rem !important;
outline-style: none;
}

  /* *****attendance ****** */
  .saving-part {
    margin-left: 1rem;
  }
  .attend-hr {
    width: 38rem;
  }
  
  .saving-part p {
    margin-left: .5rem;
    font-size: 10px;
  }

  .attendance-btns a {
    margin-left: 1rem;
    font-size: 14px;
  }

  .right-col-daily {
    margin-left: 3.5rem;
    margin-top: 2rem;
  }
  .box-rows span {
    font-size: 12px;
  }
  /* .box-right-daily {
  width: 178px;
} */
  .box-right {
    width: 200px;
  }
  .right-span {
    margin-left: 5rem !important;
  }
  .right-span-leave,
  .right-span-late {
    margin-left: 6rem !important;
  }
  .attendance-table-daily table {
    margin-left: 0rem;
  }
  .period-wise .box-rows .col-lg-2 {
    padding-right: 0.4rem;
  }

  .right-col {
    margin-left: -1.5rem;
    margin-top: 2rem;
}
  .subjects{
    margin-left: -1rem;
  }
  .attendance-table .table-period-wise,
  td {
    width: 15.9px !important;
  }
  .attendance-table-daily td {
    height: 28px !important;
    font-size: 10px;
    border: 1px solid #eee;
  }
  .table-period-wise {
    margin-left: -30.8rem;
  }
  /* .dates span:first-child {
    margin-left: 0rem !important;
} */
  .dates span:nth-child(2) {
    margin-left: 2rem;
  }
  .dates span {
    /* margin-left: 1.5rem; */
    margin-left: 0.3rem;
    font-size: 9px;
  }
  .date-data {
    width: 75px !important;
  }

  .leave-wise-table td {
    font-size: 10px;
  }
  .first-table i {
    margin-left: 0rem;
  }
  .select-btn button {
   line-height: 1rem;
    width: 8rem;
   
}
.leave-date-row form input[type="date"] {
  width: 8rem;
 
}
.leave-date-row .from-date {
  margin-left: -2rem !important;
  /* border-right: 5px solid #f5f2f2; */
}
.leave-date-row .to-date {
  margin-left: -4rem !important;
  /* border-right: 5px solid #f5f2f2; */
}
.leave-table {

  width: 108%;
}
  /**** remarks*** */
  .remarks-top form label {
    font-size: 12px;
    font-weight: bold;
  }
  .from-date {
    margin-top: 4.5rem;
    margin-left: -11.5rem;
  }
  .to-date {
    margin-top: 4.5rem;
    margin-left: 1rem;
    /* margin-top: -4.2rem;
    margin-left: 14rem; */
  }
  .remark-teacher-name {
    margin-left: 10rem !important;
  }
  .remarks-saving-part {
    margin-left: -8.5rem;
  }

  .remarks-saving-part p {
    font-size: 14px;
  }
  .notification-display .card {
    width: 34rem;
}
  .notification-display .card .right-column-first {
    width: 26rem;
}
  /* ***complain -section*** */

  .complain-display .card {
    width: 34.5rem;
    margin-left: 11rem;
    margin-top: -4.5rem;
  }
  .complain-display .card p {
    font-size: 10px;
  }
  .search-complain input {
    width: 10rem;
  }
  .solution-div {
    /* width: 165px;
    height: 125px; */
    width: 92px;
    height: 120px;
    margin-left: -1rem;
    padding: .5rem;
    
    font-size: 9px;
  }
  .complain-column {
    padding-right: 2rem !important;
  }
  .teacher-name {
    /* margin-left: 4rem !important; */
    margin-left: -1rem !important;
    font-size: 10px !important;
  }
  .left-column {
    padding-left: 1.5rem;
  }
  .white-part {
    width: 20rem;
  }
  .complain-column span {
    margin-left: 8rem !important;
  }
  /* ***Notification-section***** */
  .search-notification input {
    width: 10rem;
  }
  .notification-data-display .card {
    width: 34rem;
    padding: 1rem;
    margin-left: 11rem;
    margin-top: -5rem;
  }
  .notification-data-display .card h3 {
    font-size: 14px;
  }
  .notification-data-display .card p {
    font-size: 10px;
  }
  .notification-data-display .right-column-second {
    padding-left: 0rem;
  }
  .right-column-second {
    padding-left: 0rem;
  }
  .notice-teacher-name {
    margin-left: 0rem !important;
  }
  .notice-img {
    /* margin-left: -13rem; */
    margin-left: -13.5rem;
  }
  .right-column-first {
    padding-right: 15rem;
    border-right: hidden;
  }
  /* ***assignment-section**** */
  .search-assignment input {
    width: 10rem;
  }
  .assignment-saving-part {
    margin-left: -21rem;
  }
  .not-submited-saving-part {
    /* margin-left: -9rem; */
    margin-left: -8rem;
  }
  .not-submited-table i {
    margin-left: 1rem;
  }
  .assign-first-data {
    font-size: 12px;
  }
  /* *****exam-section******* */
  .exam-top h3 {

    font-size: 16px;
}
  .summery .exam-btns {
    margin-left: 7.5rem;
  }
  .exam-saving-part {
    margin-left: 4rem;
  }
  .exam-table td {
    font-size: 12px;
    padding-top: 0.8rem !important;
  }
  .result-evaluation h3 {
    font-size: 16px;
    
}
  .result-evaluation .exam-btns {
    margin-left:-0.5rem;
   
  }
  .exam-btns a{
    font-size: 16px;
  }
  .btns-group-test button {
    
    font-size: 16px;
    margin-left: .5rem;
    
}
  .result-evaluation-graph canvas {
    width: 580px !important;
    height: 350px !important;
  }
  .subject-evaluation-graph canvas {
    width: 580px !important;
    height: 350px !important;
  }
  .btns-group-subject {
    width: 37rem;
    margin-top: 1rem;
  }

  .column-marks-4 .comparision-btns button {
    
    width: 141px;
    
}

  /* *****fee section****** */
  .fee-saving-part{
    margin-left: -1.5rem;
  }
  .fee-first-row-data td {
    padding-top: 0.7rem !important;
    text-align: center;
    font-size: 12px;
  }
  .fee-first-row-data td i {
    margin-left: 1rem !important;
  }
  .second-row button {
    margin-left: 0rem;
    font-size: 8px;
  }
  .ledger-row span {
    font-size: 8px;
    margin-left: 1.5rem !important;
  }

  /* ******document-section*** */
  .available-doc {
    
    margin-left: -0.5rem;
}
  .available-doc h3 {
    font-size: 12px;
  }
  
  .document-saving-part {
    margin-left: 2rem;
  }
  .document-saving-part p{
    font-size: 10px;
    margin-left: .5rem;
  }
  .paper-1,
  .paper-2 {
    width: 296px;
    height: 245px;
  }
  .document-papers span {
    margin-left: 7.5rem;
  }
}

@media (max-width: 320px) {
  .content-wrapper {
    width: 193% !important;
  }
  .main-content-cards a {
   
    font-size: 10px;
  }
  .cols-1 {
    margin-left: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 0rem;
  }
  .cols-0 img {
    width: 9rem !important;
  }
  .col-0-text-weight {
    margin-right: 21rem;
}

  .cols-2 {
    margin-left: 1rem;
    margin-top: 0rem;
  }

  .cols-3 {
    margin-top: 0rem;
    margin-left: 1rem;
    padding-left: 0rem;
  }
  .quick-btns {
    margin-bottom: 2rem;
    margin-left: 4rem;
  }
  .quick-btns button {
    width: 9.5rem;
    height: 2rem;
    margin-top: 0.5rem;
  }
  .ledger-area .ledger-content .ledger-heading-content .title {
    margin-left: 17rem;
  }

  .modal-content form {
    width: 100% !important;
}
.close {
  margin-left: 23rem !important;
}

.modal-content form input[type='text'] , .modal-content form input[type='date'] , .modal-content form textarea , .modal-content form input[type='file'] {
/* width: 24rem; */
width: 25rem !important;
outline-style: none;
}

  /* *****attendance ****** */
  .saving-part {
    margin-left: 1rem;
  }
  .attend-hr {
    width: 38rem;
  }
  
  .saving-part p {
    margin-left: .5rem;
    font-size: 10px;
  }

  .attendance-btns a {
    margin-left: 1rem;
    font-size: 14px;
  }

  .right-col-daily {
    margin-left: 3.5rem;
    margin-top: 2rem;
  }
  .box-rows span {
    font-size: 12px;
  }
  /* .box-right-daily {
  width: 178px;
} */
  .box-right {
    width: 200px;
  }
  .right-span {
    margin-left: 5rem !important;
  }
  .right-span-leave,
  .right-span-late {
    margin-left: 6rem !important;
  }
  .attendance-table-daily table {
    margin-left: 0rem;
  }
  .period-wise .box-rows .col-lg-2 {
    padding-right: 0.4rem;
  }

  .right-col {
    margin-left: -1.5rem;
    margin-top: 2rem;
}
  .subjects{
    margin-left: -1rem;
  }
  .attendance-table .table-period-wise,
  td {
    width: 15.9px !important;
  }
  .attendance-table-daily td {
    height: 28px !important;
    font-size: 10px;
    border: 1px solid #eee;
  }
  .table-period-wise {
    margin-left: -30.8rem !important;
  }
  /* .dates span:first-child {
    margin-left: 0rem !important;
} */
  .dates span:nth-child(2) {
    margin-left: 2rem;
  }
  .dates span {
    /* margin-left: 1.5rem; */
    margin-left: 0.3rem;
    font-size: 9px;
  }
  .date-data {
    width: 75px !important;
  }

  .leave-wise-table td {
    font-size: 10px;
  }
  .first-table i {
    margin-left: 0rem;
  }
  .select-btn button {
   line-height: 1rem;
    width: 8rem;
   
}
.leave-date-row form input[type="date"] {
  width: 8rem;
 
}
.leave-date-row .from-date {
  margin-left: -2rem !important;
  /* border-right: 5px solid #f5f2f2; */
}
.leave-date-row .to-date {
  margin-left: -4rem !important;
  /* border-right: 5px solid #f5f2f2; */
}
.leave-table {

  width: 108%;
}
  /**** remarks*** */
  .remarks-top form label {
    font-size: 12px;
    font-weight: bold;
  }
  .from-date {
    margin-top: 4.5rem;
    margin-left: -11.5rem;
  }
  .to-date {
    margin-top: 4.5rem;
    margin-left: 1rem;
    /* margin-top: -4.2rem;
    margin-left: 14rem; */
  }
  .remark-teacher-name {
    margin-left: 10rem !important;
  }
  .remarks-saving-part {
    /* margin-left: -12.5rem !important; */
    margin-left: -7.5rem !important;
  }

  .remarks-saving-part p {
    font-size: 14px;
  }
  .notification-display .card {
    width: 29rem;
}
  .notification-display .card .right-column-first {
    width: 26rem;
}
  /* ***complain -section*** */

  .complain-display .card {
    width: 29.5rem;
    margin-left: 11rem;
    margin-top: -4.5rem;
  }
  .complain-display .card p {
    font-size: 10px;
  }
  .search-complain input {
    width: 10rem;
  }
  .solution-div {
    /* width: 165px;
    height: 125px; */
    width: 100%;
    height: 120px;
    margin-left: 0rem;
    padding: .5rem;
    
    font-size: 9px;
  }
  .complain-column {
    padding-right: 2rem !important;
  }
  .teacher-name {
    /* margin-left: 4rem !important; */
    margin-left: -1rem !important;
    font-size: 10px !important;
  }
  .left-column {
    padding-left: 1.5rem;
  }
  .white-part {
    width: 20rem;
  }
  .complain-column span {
    margin-left: 8rem !important;
  }
  /* ***Notification-section***** */
  .search-notification input {
    width: 10rem;
  }
  .notification-data-display .card {
    width: 29rem;
    padding: 1rem;
    margin-left: 11rem;
    margin-top: -5rem;
  }
  .notification-data-display .card h3 {
    font-size: 14px;
  }
  .notification-data-display .card p {
    font-size: 10px;
  }
  .notification-data-display .right-column-second {
    padding-left: 0rem;
  }
  .right-column-second {
    padding-left: 0rem;
  }
  .notice-teacher-name {
    margin-left: 0rem !important;
  }
  .notice-img {
    /* margin-left: -13rem; */
    margin-left: -6.5rem;
  }
  .notice-img img{
    width: 80px;
  }
  .right-column-first {
    /* padding-right: 15rem; */
    padding-right: 7rem;
    border-right: hidden;
  }
 
  /* ***assignment-section**** */
  .search-assignment input {
    width: 10rem;
  }
  .assignment-saving-part {
    margin-left: -21rem;
  }
  .not-submited-saving-part {
    /* margin-left: -9rem; */
    margin-left: -16rem;
  }
  .not-submited-table i {
    margin-left: 1rem;
  }
  .assign-first-data {
    font-size: 12px;
  }
  /* *****exam-section******* */
  .exam-top h3 {

    font-size: 16px;
}
  .summery .exam-btns {
    margin-left: 2.5rem;
  }
  .exam-saving-part {
    margin-left: 4rem !important;
  }
  .exam-table td {
    font-size: 12px;
    padding-top: 0.8rem !important;
  }
  .result-evaluation h3 {
    font-size: 16px;
    
}
  .result-evaluation .exam-btns {
    margin-left:-0.5rem;
   
  }
  .exam-btns a{
    font-size: 16px;
  }
  .btns-group-test button {
    
    font-size: 16px;
    margin-left: .5rem;
    
}
  .result-evaluation-graph canvas {
    width: 580px !important;
    height: 350px !important;
  }
  .subject-evaluation-graph canvas {
    width: 580px !important;
    height: 350px !important;
  }
  .btns-group-subject {
    width: 37rem;
    margin-top: 1rem;
  }

  .column-marks-4 .comparision-btns button {
    
    width: 141px;
    
}

  /* *****fee section****** */
  .fee-saving-part{
    margin-left: -0.5rem !important;
  }
  .fee-first-row-data td {
    padding-top: 0.7rem !important;
    text-align: center;
    font-size: 12px;
  }
  .fee-first-row-data td i {
    margin-left: 1rem !important;
  }
  .second-row button {
    margin-left: 0rem;
    font-size: 8px;
  }
  .ledger-row span {
    font-size: 8px;
    margin-left: 1.5rem !important;
  }

  /* ******document-section*** */
  .available-doc {
    
    margin-left: -0.5rem;
}
  .available-doc h3 {
    font-size: 12px;
  }
  
  .document-saving-part {
    margin-left: 0.5rem !important;
  }
  .document-saving-part p{
    font-size: 10px;
    margin-left: .5rem;
  }
  .paper-1,
  .paper-2 {
    width: 255px;
    height: 245px;
  }
  .document-papers span {
    margin-left: 7.5rem;
  }
}